parameters:
	ignoreErrors:
		-
			message: '#^If condition is always false\.$#'
			identifier: if.alwaysFalse
			count: 1
			path: convoca-publisher.php

		-
			message: '#^Parameter \#2 \$callback of function register_deactivation_hook expects callable\(bool\)\: void, ''convoca_publisher…'' given\.$#'
			identifier: argument.type
			count: 1
			path: convoca-publisher.php

		-
			message: '#^Call to an undefined method WP_Error\:\:get_error_message\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/channels/class-facebook.php

		-
			message: '#^Call to an undefined method WP_Error\:\:get_error_message\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/channels/class-googlemybusiness.php

		-
			message: '#^Call to an undefined method WP_Error\:\:get_error_message\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/channels/class-linkedin.php

		-
			message: '#^Call to an undefined method WP_Error\:\:get_error_message\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/channels/class-mastodon.php

		-
			message: '#^Call to an undefined method WP_Error\:\:get_error_message\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/channels/class-telegram.php

		-
			message: '#^Call to an undefined method WP_Error\:\:get_error_message\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: includes/channels/class-tiktok.php

		-
			message: '#^Call to an undefined method WP_Error\:\:get_error_message\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: includes/channels/class-twitter.php

		-
			message: '#^Constant CONVOCA_PUBLISHER_PLUGIN_DIR not found\.$#'
			identifier: constant.notFound
			count: 2
			path: includes/class-plugin.php

		-
			message: '#^Method ConvocaPublisher\\Plugin\:\:apply_license_gating\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: includes/class-plugin.php

		-
			message: '#^Path in require_once\(\) "/tmp/wp/wp\-admin/includes/upgrade\.php" is not a file or it does not exist\.$#'
			identifier: requireOnce.fileNotFound
			count: 1
			path: includes/class-retry.php
